#sections {
	margin: 5em 0;
}
ul.sections {
	padding: 0;
	margin: 0 0 1em;
	list-style: none;	
	text-align: center;	
}
.sections__item {
	margin: .5em 1em;
	list-style: none;
}
.sections__item a {
  background: $lightblue;
  padding: 1.25em;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
  line-height: 1em;
  margin: 0 0 1em;
  transition: .25s;
  &:hover {
  	background: darken(lightblue,10%);
  }
}
.sections__item a span {
	display: block;
	font-weight: bold;
}
.sections__children__item:before {
  content: "";
  width: 40px;
  height: 100px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: block;
  margin: -4.5em 0 -30px -40px;
}




@media (min-width: 1024px) {
  .sections__item {
    display: block;
    width: 400px;
    margin: 1.5em auto 0;
    position: relative;

    &:before {
      content: "";
      height: 3.6em;
      width: 1px;
      border-right: 1px solid black;
      top: 3em;
      right: auto;
      left: auto;
      position: absolute;
    }
  }
  
  .sections__children {
  	margin: 2em auto;
  }

  .sections__children__item:before {
  	margin: 0;
  	border: 0;
  	height: auto;
  }
  .sections__children > .sections__children__item {
	width: 400px;
    &:nth-child(odd) a:after,
    &:only-child a:after {
      right: -3em;
      top: 1.5em;
    }
    &:nth-child(even) a:after {
      left: -3em;
      top: 1.5em;
    }
    &:nth-last-child(2):before,
    &:last-child:before {
      border: 0;
    }
    a {
      left: 0;
      width: 100%;
      overflow: visible;
    }
  }


  .sections__children > .sections__children__item {
  	&:nth-child(odd) {	
      margin: 1.5em 0 0 -18em;
    }
  	&:nth-child(even) {	
	  left: 13em;
      margin-top: -4.5em;
    }
  }

  .sections__children > .sections__children__item {
  	&:nth-child(odd) a:after {
      border-right: 1px solid black;
      margin-right: -2px;
    }
  	&:nth-child(even) a:after {
      border-left: 1px solid black;
      margin-left: 1px;
    }
  }
  
  .sections__children > .sections__children__item:nth-child(odd) a:after,
  .sections__children > .sections__children__item:nth-child(even) a:after {
    content: "";
    height: 100px;
    width: 50px;
    display: inline-block;
    border-bottom: 1px solid black;
    text-align: left;
    position: absolute;
    margin-top: -6em;
    margin-right: -2px;
    z-index: -1;
  }

}
